@{
    Layout = "~/_TileLayout.cshtml";
    Page.Head = "Calendar";
}

@section content {
    <div id='calendar'></div>

    <script>
        $(document).ready(function () {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                editable: true,
                events: [
                    {
                        title: 'Shannons Birthday',
                        start: new Date(y, m, 1)
                    },
                    {
                        title: 'Project Due',
                        start: new Date(y, 3, 9)
                    },
                    {
                        title: 'Project Restarted',
                        start: new Date(y, 3, 8)
                    }
                ]
            });
        });
    </script>
}