@{
    Layout = "~/_TileLayout.cshtml";
    Page.Head = "Calendar";
    Calendar cal = new Calendar();
}

@section content {
    <div id='calendar'></div>

    <a class="btn" href="~/Event.aspx">Add New Event</a>
    <a class="btn" href="~/Calendar.cshtml">View Calendar</a>
    <script>
        $.loadCalendar = function() {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var name = "Shannon";
            var e = new Array();
            for (var i = 0; i < 3; i++) {
                e.push({ title: email, start: new Date(y, m, i) });
            }

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: ''
                },
                editable: true,
                events: e
            });
        }
    </script>
}
