@{
    Layout = "~/_TileLayout.cshtml";
    Page.Head = "Chat";
    var chat = Chat.getInstance();
    
}

@section content {
    <textarea id="messages" runat="server" rows=13></textarea>
 @foreach (var message in chat.getMessages())
    {
      <div> @message </div>
  }
    <form class="inputs" id="chatForm">
        <input type="text" id="message" />
        <button type="submit" class="btn" id="chatSubmit">Display</button>
    </form>
 

    <!-- Stop committing broken code. fixed. -->
    <script type="text/javascript">

	$("#chatForm").submit(function (e) {
	    var $textarea = $('#messages');
            $textarea.val( name + ": " + $textarea.val() + $('#message').val() + "\n");
            $('#message').val('');
	});

        $.sendMessage=function() {  
	    alert("sending");
            var $textarea = $('#messages');
            $textarea.val( name + ": " + $textarea.val() + $('#message').val() + "\n");
            $('#message').val('');
        }
    </script>
  
}