@{
    Layout = "~/_TileLayout.cshtml";
    Page.Head = "Chat";
    var chat = Chat.getInstance();
    
}

@section content {
    <textarea id="messages" runat="server" rows=10 readonly></textarea>

    <form class="inputs" id="chatForm">
        <input type="text" id="message" />
        <button type="submit" class="btn" id="chatSubmit">Display</button>
    </form>
 

    <script type="text/javascript">

	function checkMessages() {
	    alert("Checking for new messages..");
	    var $textarea = $('#messages');
	    $textarea.val( "@chat.readableMessages()" );
	}

	$("#chatForm").submit(function (e) {
	    var $msg = $('message').val();
	    var $textarea = $('#messages');
            $textarea.val( $textarea.val() + ": " + $('#message').val() + "\n");
	 
            $('#message').val('');
	    
	});

        function sendMessage() {  
            var $textarea = $('#messages');
            $textarea.val( name + ": " + $textarea.val() + $('#message').val() + "\n");
            $('#message').val('');
        }
    </script>
    <div> 
       <a href="javascript:sendMessage()">Get Chat Messages</a>
    </div>
  
}