@{
    Layout = "~/_TileLayout.cshtml";
    Page.Head = "Chat";
    var chat = Chat.getInstance();
    
}

@section content {

    <input type="text" id="username" />
    <div>Chat Alias</div>
    <textarea id="messages" rows=9 readonly></textarea>
    <div></div>
    <input type="text" id="message" />

    <!-- Stop committing broken code. fixed. -->
    <script type="text/javascript">
        var sock;

        function sendMessage() {  

            var $textarea = $('#messages');
            $textarea.val( $textarea.val() + $('#username').val() + ": " + $('#message').val() + "\n");
            $('#message').val('');
        }
    </script>
    <div> 
        <a class="btn" href="javascript:sendMessage()">Send Message</a>
    </div>
}