@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Contact the authors</h2>
</hgroup>


<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Shaun DeVos:</span>
        <span><a href="mailto:sdd7427@rit.edu">sdd7427@rit.edu</a></span>
    </p>
    <p>
        <span class="label">Luke Coy:</span>
        <span><a href="mailto:ldc1108@rit.edu">ldc1108@rit.edu</a></span>
    </p>
    <p>
        <span class="label">Shannon Trudeau:</span>
        <span><a href="mailto:smt9020@rit.edu">smt9020@rit.edu</a></span>
    </p>
     <p>
        <span class="label">Adam Blaine:</span>
        <span><a href="mailto:amb8805@rit.edu">amb8805@rit.edu</a></span>
    </p>
     <p>
        <span class="label">Mike Wideman:</span>
        <span><a href="mailto:mxw7523@rit.edu">mxw7523@rit.edu</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
         Rochester Institute of Technology<br />
         One Lomb Memorial Dr<br />
         Rochester, NY 14623
    </p>
</section>