@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}


<hr />
<div id="feedDiv tile" class="tile">@RenderPage("~/Feed.cshtml")</div>
<hr />
<div id="chatDiv" class="tile">@RenderPage("~/Chat.cshtml")</div>
<hr />
<div id="calendarDiv" class="tile">@RenderPage("~/Calendar.cshtml")</div>
<hr />
<div id="stocksDiv" class="tile">@RenderPage("~/Stocks.cshtml")</div>