@{
    Layout = "~/_TileLayout.cshtml";
    Page.Head = "Profile";
}

@section content {
    <div id="fb-root"></div>
    


   
    <div><img id="profile" src=null; /></div>
    <div id="info"><p id="content"></p></div>
}