@{
    Layout = "~/_TileLayout.cshtml";
    Page.Head = "Profile";
}

@section content {
    <div><img id="profile" src=null; /></div>
    <div id="info">
        <p id="profile-content"></p>
    </div>
}