@{
    Layout = "~/_TileLayout.cshtml";
    Page.Head = "Profile";
}

@section content {
     <div id="fb-root"></div>
<script>
    // Additional JS functions here
    window.fbAsyncInit = function () {
        FB.init({
            appId: '123218671204386', // App ID
            channelUrl: '//http://people.rit.edu/~amb8805/Music/channel.html', // Channel File
            status: true, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            xfbml: true  // parse XFBML
        });
        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
              
               
                // connected
            } else if (response.status === 'not_authorized') {
                // not_authorized
            } else {

                // not_logged_in
            }
        });
        // Additional init code here

    };

    (function () {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol +
            '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
    }());
    function content() {
        content = document.getElementById('conten');
        content.innerText = response.name;

    }
    function setStatus() {
        status1 = document.getElementById('status').value;
        FB.api(
          {
              method: 'status.set',
              status: status1
          },
          function (response) {
              if (response == 0) {
                  alert('Your facebook status not updated. Give Status Update Permission.');
              }
              else {
                  alert('Your facebook status updated');
              }
          }
        );
    }


    // Load the SDK Asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>
    <div id="info"><p id="conten"><script>content();</script></p></div>
}
