@{
    Layout = "~/_TileLayout.cshtml";
    Page.Head = "Stocks";
}

@section content {
<form class="inputs">
                        <input type="text"></input>
                        <button type="submit">Display</button>
                </form>
                <ul id="data" style="list-style: none;">
                        <li>
                                <div id="table"></div>
                                <div id="chartDemoContainer" style="width:100%; height:400px;"></div></li>
                </ul>

    <script src="/Scripts/quote.js"></script>
}