@{
    Layout = "~/_TileLayout.cshtml";
    Page.Head = "Stocks";
}

@section content {
	<script src="Scripts/dataplot.js"></script>
    <script src="Scripts/QuoteService.js" type="text/javascript"></script>    

    <div id="stocks-top-five"></div>

    <a href="~/Stocks.cshtml">View Stocks</a>
}